/* 

custom lich-hoc style

*/

.lich-hoc-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 10px;
    margin: 10px;
}

.courseName h5,
.courseName h5 a {
    text-align: center;
    font-weight: bold;
    color: #6c757d;
    margin-top: 28px;
}

.lich-hoc-header {
    background-color: #959cb6;
    padding: 10px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lich-hoc-header h4 {
    padding: 0;
    margin: 0;
    color: white;
    font-weight: bold;
}

.lich-hoc-content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.lich-hoc-item {
    box-shadow: none;
    border: 2px dashed #959cb6;
    position: relative;
    border-radius: 16px;
    flex: 1 1 150px;
    /* border: 1px solid #eee; */
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); */
}

.lich-hoc-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.lich-hoc-item-tag {
    color: white;
    position: absolute;
    background: #959cb6;
    padding: 4px 8px;
    display: block;
    font-weight: bold;
    top: 0;
    left: 50%;
    text-align: center;
    width: 100px;
    transform: translate(-50%, 0);
    border-radius: 0 0 12px 12px;
}

.lich-hoc-item > div {
    flex: 0 0 250px;
    padding: 5px 0;
}
